* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Times New Roman', Times, serif, sans-serif;
}

body {
  background: #f5f5f5;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff9800;
}

/* NAV */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ff9800;
}

/* CART */
.cart {
  font-size: 20px;
  cursor: pointer;
}

.cart span {
  background: red;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 5px;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1523275335684-37898b6baf30");
  background-size: cover;
  background-position: center ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}
.hero-content h1 {
  font-size: 3rem;
}

.offer {
  color: #ff9800;
  font-weight: bold;
  margin: 10px 0;
}

.hero-text {
  margin-top: 10px;
  font-size: 1.1rem;
}
.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #e68900;
}

/* PRODUCTS */
.heading {
  text-align: center;
  margin: 40px 0 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Desktop */
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price {
  color: green;
  font-weight: bold;
  margin: 10px 0;
}

/* INFO SECTIONS */
.info-section {
  background: white;
  padding: 60px 20px;
  text-align: center;
}

.info-section h2 {
  margin-bottom: 15px;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .nav-links {
    display: none;
  }
}
